.root{
    position: relative;
    z-index: 3;
    height: 40px;
    overflow: hidden;
}
.mask{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(221,221,221,0.5);
}
.content{
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: #ffffff;
}